.places h1 {
    text-align: left;
    float: left;
    margin-left: -550px;
    margin-top: 10px;
    font-size: 30px;
}

.articles {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    margin-top: -100px;
}

.places article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
}

.articles h2 {
    font-size: 30px;
}

